<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DotWebStack Web Components</title>
    <link rel="stylesheet" href="/assets/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="/assets/webcomponents-0.2.0.js"></script>

    <script type="application/ld+json" id="data">{ fields | jsonld | raw }}</script>

</head>
<body>
<div class="container">
    <template id="resource">
        <header class="mb-5">
            <h1 class="mt-5"><dws-label iri="{{ fields.subject }}"></dws-label></h1>
            <p>URI: <a href="{{ fields.subject }}">{{ fields.subject }}</a></p>
        </header>
        <dws-resource iri="{{ fields.subject }}"></dws-resource>
    </template>
    <dws-graph src="#data" template="#resource"></dws-graph>
</div>
</body>
</html>