openapi: 3.0.0
info:
  title: OAS 3 Mock 01
  description: OAS3 for test purposes
  version: 1.0.0
x-dotwebstack-spec-endpoint: /docs/_spec
paths:
  /map-endpoints-correctly:
    get:
      description: Test
      responses:
        '200':
          description: OK
          x-dotwebstack-parameter: x-dotwebstack-information-product
  /map-spec-endpoint-correctly-whennotgiven:
    get:
      description: Test
      responses:
        '200':
          description: OK
          x-dotwebstack-parameter: x-dotwebstack-information-product
  /exc-endpoint-without-produces:
    get:
      description: Test
      responses:
        '200':
          description: OK
          x-dotwebstack-parameter: x-dotwebstack-information-product
  /exc-endpoint-without-responses:
    get:
      description: Test
      x-dotwebstack-parameter: x-dotwebstack-information-product
  /exc-endpoint-without-ok-repsonse:
    get:
      description: Test
      responses:
        '201':
          description: NOT OK
  /map-body-parameter:
    post:
      description: Test
      responses:
        '200':
          description: OK
          x-dotwebstack-parameter: x-dotwebstack-information-product
      requestBody:
        $ref: '#/components/requestBodies/Object'
  /map-body-parameter-with-refobject:
    post:
      description: Test
      parameters:
      - $ref: 'oas3-ref.yml#/body'
      responses:
        '200':
          description: OK
          x-dotwebstack-parameter: x-dotwebstack-information-product
  /map-body-parameter-no-object:
    post:
      description: Test
      parameters:
        - in: body
          name: object
          description: The request payload
      responses:
        '200':
          description: OK
          x-dotwebstack-parameter: x-dotwebstack-information-product
      requestBody:
        $ref: '#/components/requestBodies/Object'
  /produces-precedence-with-valid-data:
    post:
      description: Test
      parameters:
      - $ref: 'oas3-ref.yml#/body'
      responses:
        '200':
          description: OK
          x-dotwebstack-parameter: x-dotwebstack-information-product
servers:
- url: 'https://dbeerpedia.org/api/v1'
components:
  requestBodies:
    Object:
      content:
        application/json:
          schema:
            type: string
      description: The request payload