openapi: 3.0.0
servers:
  - url: http://dbeerpedia.org/api/v1
info:
  title: API
  version: '1.0'
x-dotwebstack-spec-endpoint: /docs/_spec
paths:
  /breweries:
    get:
      x-dotwebstack-information-product: 'http://dbeerpedia.org#Breweries'
      description: Test
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  string:
                    type: string
    put:
      x-dotwebstack-transaction: 'http://dbeerpedia.org#Breweries'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  int:
                    type: integer
                  int2:
                    type: integer
                    example: 94
                  str:
                    type: string
                  str2:
                    type: string
                    example: example
                  dec:
                    type: number
                  dec2:
                    type: number
                    example: 5.67
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                int:
                  type: integer
    post:
      x-dotwebstack-transaction: 'http://dbeerpedia.org#Breweries'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  int:
                    type: integer
                  int2:
                    type: integer
                    example: 94
                  str:
                    type: string
                  str2:
                    type: string
                    example: example
                  dec:
                    type: number
                  dec2:
                    type: number
                    example: 5.67
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                int:
                  type: integer
